@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
:root{
  background-color: #161616;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.headerName {
  width: auto;
  padding: 0.2rem;
}

.headerName h1 {
  font-family: "Zeyada", serif;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}

.intro h2 {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  text-align: center;
}

.carousel-container {
  /* max-width: 400px; */
  margin-left: auto;
  margin-right: auto;
}

.slick-prev, .slick-next {
  color: white;
  z-index: 1;
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.title {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}